 <div class="book-slide">
            <div class="book js-flickity" data-flickity-options='{ "wrapAround": true }'>

                <div class="book-cell">
                    <div class="book-img">
                        <img src="https://i.pinimg.com/originals/a8/b9/ff/a8b9ff74ed0f3efd97e09a7a0447f892.jpg" alt="" class="book-photo">
                    </div>
                    <div class="book-content">
                        <div class="book-title">Ten Thousand Skies Above You</div>
                        <div class="book-author">by Claudia Gray</div>
                        <div class="rate">
                            <fieldset class="rating blue">
                                <input type="checkbox" id="star6" name="rating" value="5" />
                                <label class="full1" for="star6"></label>
                                <input type="checkbox" id="star7" name="rating" value="4" />
                                <label class="full1" for="star7"></label>
                                <input type="checkbox" id="star8" name="rating" value="3" />
                                <label class="full1" for="star8"></label>
                                <input type="checkbox" id="star9" name="rating" value="2" />
                                <label class="full1" for="star9"></label>
                                <input type="checkbox" id="star10" name="rating" value="1" />
                                <label class="full1" for="star10"></label>
                            </fieldset>
                            <span class="book-voters">1.987 voters</span>
                        </div>
                        <div class="book-sum">The hunt for each splinter of Paul's soul sends Marguerite racing through a war-torn San Francisco.</div>
                        <div class="book-see book-blue">See The Book</div>
                    </div>
                </div>
                <div class="book-cell">
                    <div class="book-img">
                        <img src="https://i.pinimg.com/originals/a8/b9/ff/a8b9ff74ed0f3efd97e09a7a0447f892.jpg" alt="" class="book-photo">
                    </div>
                    <div class="book-content">
                        <div class="book-title">Ten Thousand Skies Above You</div>
                        <div class="book-author">by Claudia Gray</div>
                        <div class="rate">
                            <fieldset class="rating blue">
                                <input type="checkbox" id="star6" name="rating" value="5" />
                                <label class="full1" for="star6"></label>
                                <input type="checkbox" id="star7" name="rating" value="4" />
                                <label class="full1" for="star7"></label>
                                <input type="checkbox" id="star8" name="rating" value="3" />
                                <label class="full1" for="star8"></label>
                                <input type="checkbox" id="star9" name="rating" value="2" />
                                <label class="full1" for="star9"></label>
                                <input type="checkbox" id="star10" name="rating" value="1" />
                                <label class="full1" for="star10"></label>
                            </fieldset>
                            <span class="book-voters">1.987 voters</span>
                        </div>
                        <div class="book-sum">The hunt for each splinter of Paul's soul sends Marguerite racing through a war-torn San Francisco.</div>
                        <div class="book-see book-blue">See The Book</div>
                    </div>
                </div>
                <div class="book-cell">
                    <div class="book-img">
                        <img src="https://i.pinimg.com/originals/a8/b9/ff/a8b9ff74ed0f3efd97e09a7a0447f892.jpg" alt="" class="book-photo">
                    </div>
                    <div class="book-content">
                        <div class="book-title">Ten Thousand Skies Above You</div>
                        <div class="book-author">dia Gray</div>
                        <div class="rate">
                            <fieldset class="rating blue">
                                <input type="checkbox" id="star6" name="rating" value="5" />
                                <label class="full1" for="star6"></label>
                                <input type="checkbox" id="star7" name="rating" value="4" />
                                <label class="full1" for="star7"></label>
                                <input type="checkbox" id="star8" name="rating" value="3" />
                                <label class="full1" for="star8"></label>
                                <input type="checkbox" id="star9" name="rating" value="2" />
                                <label class="full1" for="star9"></label>
                                <input type="checkbox" id="star10" name="rating" value="1" />
                                <label class="full1" for="star10"></label>
                            </fieldset>
                            <span class="book-voters">1.987 voters</span>
                        </div>
                        <div class="book-sum">The hunt for each splinter of Paul's soul sends Marguerite racing through a war-torn San Francisco.</div>
                        <div class="book-see book-blue">See The Book</div>
                    </div>
                </div>
                <div class="book-cell">
                    <div class="book-img">
                        <img src="https://i.pinimg.com/originals/a8/b9/ff/a8b9ff74ed0f3efd97e09a7a0447f892.jpg" alt="" class="book-photo">
                    </div>
                    <div class="book-content">
                        <div class="book-title">Ten Thousand Skies Above You</div>
                        <div class="book-author">by Claudia Gray</div>
                        <div class="rate">
                            <fieldset class="rating blue">
                                <input type="checkbox" id="star6" name="rating" value="5" />
                                <label class="full1" for="star6"></label>
                                <input type="checkbox" id="star7" name="rating" value="4" />
                                <label class="full1" for="star7"></label>
                                <input type="checkbox" id="star8" name="rating" value="3" />
                                <label class="full1" for="star8"></label>
                                <input type="checkbox" id="star9" name="rating" value="2" />
                                <label class="full1" for="star9"></label>
                                <input type="checkbox" id="star10" name="rating" value="1" />
                                <label class="full1" for="star10"></label>
                            </fieldset>
                            <span class="book-voters">1.987 voters</span>
                        </div>
                        <div class="book-sum">The hunt for each splinter of Paul's soul sends Marguerite racing through a war-torn San Francisco.</div>
                        <div class="book-see book-blue">See The Book</div>
                    </div>
                </div>




            </div>
        </div>

        
        <div class="main-wrapper">
          
            <div class="popular-books">
                {{!-- <div class="main-menu">
                    <div class="genre">Popular by Genre</div>
                    <div class="book-types">
                        <a href="#" class="book-type active"> All Genres</a>
                        <a href="#" class="book-type"> Business</a>
                        <a href="#" class="book-type"> Science</a>
                        <a href="#" class="book-type"> Fiction</a>
                        <a href="#" class="book-type"> Philosophy</a>
                        <a href="#" class="book-type"> Biography</a>
                    </div>
                </div> --}}
                <div class="book-cards">
                      {{#each courses}}
                    <div class="book-card">
                        <div class="content-wrapper">
                            <a style="margin-right: -28px" href="/courses/{{this.slug}}">
                                <div class="img-wrapper">
                                     <img src=" https://img.youtube.com/vi/{{this.videoId}}/0.jpg" alt="{{this.name}}" class="book-card-img">
                                </div>
                            </a>
                           
                            <div class="card-content">
                                <div class="book-name">{{this.name}}</div>
                                <div class="book-by">{{this.author}}</div>
                                <div class="rate">
                                    <fieldset class="rating book-rate">
                                        <input type="checkbox" id="star-c1" name="rating" value="5">
                                        <label class="full" for="star-c1"></label>
                                        <input type="checkbox" id="star-c2" name="rating" value="4">
                                        <label class="full" for="star-c2"></label>
                                        <input type="checkbox" id="star-c3" name="rating" value="3">
                                        <label class="full" for="star-c3"></label>
                                        <input type="checkbox" id="star-c4" name="rating" value="2">
                                        <label class="full" for="star-c4"></label>
                                        <input type="checkbox" id="star-c5" name="rating" value="1">
                                        <label class="full" for="star-c5"></label>
                                    </fieldset>
                                    <span class="book-voters card-vote">1.987 voters</span>
                                </div>
                                <div class="book-sum card-sum">{{this.description}} </div>
                                  <a href="/courses/{{this.slug}}" class="custom-btn btn-11">Xem sách</a>
                            </div>
                        </div>
                        <div class="likes">
                            <div class="like-profile">
                                <img src="https://randomuser.me/api/portraits/women/63.jpg" alt="" class="like-img">
                            </div>
                            <div class="like-profile">
                                <img src="https://pbs.twimg.com/profile_images/2452384114/noplz47r59v1uxvyg8ku.png" alt="" class="like-img">
                            </div>
                            <div class="like-profile">
                                <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" alt="" class="like-img">
                            </div>
                            <div class="like-name"><span>Samantha William</span> and<span> 2 other friends</span> like this</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>


        {{!-- body chinh  --}}
      
{{!-- <div class="mt-4">
    <div class="row">

        {{#each courses}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-course-item">
                <a href="/courses/{{this.slug}}">
                    <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}" class="book-card-img">
                </a>
                <div class="card-body">
                    <a href="/courses/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text">{{this.description}}</p>
                    <a href="/courses/{{this.slug}}" class="custom-btn btn-6">Mua video sách nói</a>
                  
                </div>
            </div>
        </div>
        {{/each}}
        
    </div>
</div> --}}